<include file="Public/common/header.html"/>


<!-- Page Content -->

<div id="page-content-wrapper">

    <div class="navbar-top">

        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">

            <span class="hamb-top"></span>

            <span class="hamb-middle"></span>

            <span class="hamb-bottom"></span>

        </button>

    </div>


    <div>

        <img src="__IMA__/paper.jpg" class="img-responsive">


        <div class="introduction row" style="background: url(__IMA__/bg_1.png);">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="page-header animated">

                    <h1>吉通恒远
                        <small>新闻资讯</small>
                    </h1>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>


        <nav class="navbar navbar-inverse row visible-xs-sm-md-block hidden-lg" id="mobile_product">

            <div class="col-md-2"></div>

            <div class="container-fluid col-md-8">

                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-2" aria-expanded="false">

                        <span class="sr-only">Toggle navigation</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                    <span class="navbar-brand" href="{:U('Home/news/index')}">新闻资讯</span>

                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                    <ul class="nav navbar-nav">
                        <volist name="list" id="vo">
                            <li <if condition='$id eq $vo["id"]'>class="active"</if>><a href="{:U('Home/news/index',array('id'=>$vo['id']))}">{$vo.name}</a></li>
                        </volist>
                        <!--<li>-->
                            <!--<a href="news1.html">公司新闻</a>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<a href="news2.html">行业资讯</a>-->
                        <!--</li>-->
                    </ul>


                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->

            <div class="col-md-2"></div>

        </nav>


        <div class="row" style="background: url(__IMA__/bg_1.png);">

            <div class="col-md-2"></div>

            <div class="product_img_goods col-md-8 row">

                <ol class="nav nav-pills nav-stacked col-md-2  hidden-xs  hidden-sm hidden-md">

                    <li class="active"><a href="{:U('Home/news/index')}"><strong>新闻资讯 <i class="fa fa-angle-down"></i></strong></a>
                    </li>
                    <volist name="list" id="vo">
                        <li <if condition='$id eq $vo["id"]'>class="active"</if>><a href="{:U('Home/news/index',array('id'=>$vo['id']))}">{$vo.name}</a></li>
                    </volist>
                    <!--<li class="active">-->

                        <!--<a href="news1.html">公司新闻</a>-->

                    <!--</li>-->

                    <!--<li>-->

                        <!--<a href="news2.html">行业资讯</a>-->

                    <!--</li>-->
                </ol>

                <div class="col-md-10 row news1_info_bg">
                    <div class="col-md-12 information_title hidden-md hidden-sm hidden-xs">
                        公司新闻
                    </div>
                    <div class="col-md-12">
                        <h4>{$new.title}</h4>

                        {$new.content}
                        <div align="center" style="margin-bottom: 20px">
                            <img src={$new.image} class="img-responsive">
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="introduction  row">

            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="page-header animated">

                    <h1>吉通恒远
                        <small>合作共赢</small>
                    </h1>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>


            <include file="Public/common/footer.html"/>