.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #343399;
}
.about img{
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -moz-transition:0.2s linear;
    -o-transition:0.2s linear;
    -ms-transition:0.2s linear;
}
.about img:hover{
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -o-transform:scale(1.03);
    -ms-transform:scale(1.03);
}