<include file="Public/common/header.html"/>


<!-- Page Content -->

<div id="page-content-wrapper">

    <div class="navbar-top">

        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">

            <span class="hamb-top"></span>

            <span class="hamb-middle"></span>

            <span class="hamb-bottom"></span>

        </button>

    </div>


    <div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->

            <ol class="carousel-indicators">

                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

                <li data-target="#carousel-example-generic" data-slide-to="1"></li>

                <li data-target="#carousel-example-generic" data-slide-to="2"></li>

                <li data-target="#carousel-example-generic" data-slide-to="3"></li>

            </ol>


            <!-- Wrapper for slides -->

            <div class="carousel-inner" role="listbox">

                <div class="item active">

                    <img src="__IMA__/71ca719122fb3e722dab627cd6cf85e3.jpg" alt="..." style="width:100%;">

                </div>

                <div class="item">

                    <img src="__IMA__/913d8d8cf1b253b8151781d4980aff72.jpg" alt="..." style="width:100%;">

                </div>

                <div class="item">

                    <img src="__IMA__/99c4e58598a2098fcdc6477f58eafb6f.jpg" alt="..." style="width:100%;">

                </div>

                <div class="item">

                    <img src="__IMA__/a0bd8087dfb0cca581c008959aa1cce7.jpg" alt="..." style="width:100%;">

                </div>

            </div>


            <!-- Controls -->

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

                <span class="sr-only">Previous</span>

            </a>

            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                <span class="sr-only">Next</span>

            </a>

        </div>


        <nav class="navbar navbar-inverse row visible-xs-sm-md-block hidden-lg" id="mobile_product">

            <div class="col-md-2"></div>

            <div class="container-fluid col-md-8">

                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-2" aria-expanded="false">

                        <span class="sr-only">Toggle navigation</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                    <span class="navbar-brand" href="#">产品中心</span>

                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                    <ul class="nav navbar-nav">

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"

                               aria-expanded="false">工业耐磨系列 <span class="caret"></span>

                            </a>

                            <ul class="dropdown-menu">

                                <li><a href="product.html">筒仓壁内衬耐磨料</a></li>

                                <li><a href="#">下料溜槽耐磨料</a></li>

                                <li><a href="#">冲渣沟耐磨料</a></li>

                            </ul>

                        </li>

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">耐磨地坪系列 <span class="caret"></span></a>

                            <ul class="dropdown-menu">

                                <li><a href="#">金刚砂耐磨地坪</a></li>

                                <li><a href="#">不发火耐磨地坪</a></li>

                                <li><a href="#">高强耐磨料</a></li>

                                <li><a href="#">彩色耐磨地坪</a></li>

                                <li><a href="#">耐油地坪</a></li>

                            </ul>

                        </li>

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">特种砂浆系列 <span class="caret"></span></a>

                            <ul class="dropdown-menu">

                                <li><a href="#">铁屑砂浆</a></li>

                                <li><a href="#">耐磨砂浆</a></li>

                                <li><a href="#">不发火砂浆</a></li>

                                <li><a href="#">耐油砂浆</a></li>

                            </ul>

                        </li>

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">特种混泥土系列 <span class="caret"></span></a>

                            <ul class="dropdown-menu">

                                <li><a href="#">不发火混泥土</a></li>

                                <li><a href="#">耐热混泥土</a></li>

                            </ul>

                        </li>


                    </ul>


                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->

            <div class="col-md-2"></div>

        </nav>


        <div class="introduction row" style="background: url(__IMA__/bg_1.png);">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="page-header animated">

                    <h1>吉通恒远
                        <small>样品展示</small>
                    </h1>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>


        <div class="product_img row" style="background: url(__IMA__/bg_1.png);">

            <div class="col-md-2"></div>

            <div class="product_img_goods col-md-8 row">

                <ul class="col-md-12 row">

                    <li class="col-md-3">
                        <a href="tiexie.html">
                            <div class="li_img_div">

                                <img src="__IMA__/铁屑砂浆.jpg">

                                <span>铁屑砂浆</span>

                            </div>
                        </a>

                    </li>

                    <li class="col-md-3">

                        <div class="li_img_div">

                            <img src="__IMA__/彩色耐磨地坪.jpg">

                            <span>彩色耐磨地坪</span>

                        </div>

                    </li>

                    <li class="col-md-3">

                        <div class="li_img_div">

                            <img src="__IMA__/耐油混凝土.jpg">

                            <span>耐油混凝土</span>

                        </div>

                    </li>

                    <li class="col-md-3">

                        <div class="li_img_div">

                            <img src="__IMA__/不发火混凝土.jpg">

                            <span>不发火混凝土</span>

                        </div>

                    </li>


                    <li class="col-md-3">

                        <div class="li_img_div">

                            <img src="__IMA__/裂缝修复砂浆.jpg">

                            <span>裂缝修复砂浆</span>

                        </div>

                    </li>

                    <li class="col-md-3">

                        <div class="li_img_div">

                            <img src="__IMA__/金刚砂耐磨地坪1.jpg">

                            <span>金刚砂耐磨地坪1</span>

                        </div>

                    </li>

                    <li class="col-md-3">

                        <div class="li_img_div">

                            <img src="__IMA__/下料溜槽耐磨料.jpg">

                            <span>下料溜槽耐磨料</span>

                        </div>

                    </li>

                    <li class="col-md-3">

                        <div class="li_img_div">

                            <img src="__IMA__/筒仓壁耐磨料.jpg">

                            <span>筒仓壁耐磨料</span>

                        </div>

                    </li>


                </ul>

            </div>

            <div class="col-md-2"></div>

        </div>


        <div class="introduction animated row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="page-header">

                    <h1>吉通恒远
                        <small>成功案例</small>
                    </h1>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>


        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="col-md-4">

                    <div class="thumbnail">

                        <img src="__IMA__/BSYH.jpg" class="img-responsive">

                        <div class="caption">

                            <h3>北京京芯产业园</h3>

                            <p>该项目总占地面积为77,650平方米， 总建筑面积为231,591平方米， 主要建设包括新建4幢15层高的办公楼。</p>

                            <p><a href="beijing.html" class="btn btn-default" role="button">查看详情</a></p>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="thumbnail">

                        <img src="__IMA__/BSYH2.jpg" class="img-responsive">

                        <div class="caption">

                            <h3>包商银行商务大厦</h3>

                            <p>该项目计划总投资27亿元，占地面积49.77亩，总建筑面积26万平方米，主要建设总部办公大楼、五星级酒店、金融大楼及裙楼。</p>

                            <p><a href="#" class="btn btn-default" role="button">查看详情</a></p>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="thumbnail">

                        <img src="__IMA__/1.jpg" class="img-responsive">

                        <div class="caption">

                            <h3>包商银行商务大厦</h3>

                            <p>该项目计划总投资27亿元，占地面积49.77亩，总建筑面积26万平方米，主要建设总部办公大楼、五星级酒店、金融大楼及裙楼。</p>

                            <p><a href="#" class="btn btn-default" role="button">查看详情</a></p>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>


        <div class="introduction  row" style="background: url(__IMA__/bg_1.png);">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="page-header animated">

                    <h1>吉通恒远
                        <small>关于我们</small>
                    </h1>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>


        <div class="row" style="background: url(__IMA__/bg_1.png);">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="index_about_us col-md-6">

                    <div class="col-md-6">

                        <img src="__IMA__/JTHY.PNG" class="img-responsive">

                    </div>

                    <div class="col-md-6">

                        北京吉通恒远科技有限公司成立于2012年，是一家集研发、生产、销售和技术咨询服务为一体的综合性公司。
                        公司专注于耐磨料及特种砂浆的生产和销售，主要产品包括：金刚砂耐磨地坪材料、高强耐磨料、不发火砂浆、防辐射砂浆、金刚砂原材料等。
                        公司在提供高性价比的产品的之外，同时还为不同客户提供实用、经济、创新的施工方案，从而满足客户全方位的需求。

                    </div>

                </div>


                <div class="index_about_us col-md-6" style="margin-bottom: 30px">

                    <div class="col-md-6">

                        <img src="__IMA__/1.jpg" class="img-responsive">

                    </div>

                    <div class="col-md-6">

                        公司坚持以创新带动发展，以真诚服务客户的理念，聚集了一批资深的建筑材料专家以及年轻而充满激情的研发创新团队，
                        并与多所高校开展技术研发合作，是行业内领先前沿的现代化企业。
                        北京吉通恒远科技有限公司自成立以来，经过5年的稳步发展，形成了具有自身特色的企业文化和服务理念。
                        祟尚：“创新发展，专业服务、与客户、员工、股东共同发展，共创辉煌”。


                    </div>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>


        <div class="introduction  row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="page-header animated">

                    <h1>吉通恒远
                        <small>六大优势</small>
                    </h1>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

        <div class="advantage row">
            <div class="col-md-2"></div>
            <div class="col-md-8 row">
                <div class="col-md-6 row advantages_bg">
                    <div class="col-md-12 row advantages2">
                        <div class="col-md-3 icon_bg">
                            <span class="icon_span">01</span>
                        </div>
                        <div class="col-md-9">
                            <strong>公司实力|Company Strength</strong>
                            <p>公司总部位于北京，有两个研发中心，6个产品及材料基地，人员达200</p>
                        </div>
                    </div>

                    <div class="col-md-12 row advantages2">
                        <div class="col-md-3 icon_bg">
                            <span class="icon_span">02</span>
                        </div>
                        <div class="col-md-9">
                            <strong>研发实力|Strength of R&D</strong>
                            <p>公司有强大的技术及研发团队，在北京、廊坊、厦门设有研发中心，
                                并且先后与清华大学、北京工业大学高校机构建立了产、学、研一体化的战略合作关系，
                                在特种砂浆材料的研发和应用方面，取得了多项技术突破，并将前沿科技逐步实现产业化。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hidden-md hidden-sm hidden-xs">
                    <img src="__IMA__/1.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="advantage row" style="margin-top: 50px;">
            <div class="col-md-2"></div>
            <div class="col-md-8 row">
                <div class="col-md-6 hidden-md hidden-sm hidden-xs">
                    <img src="__IMA__/1.jpg" class="img-responsive">
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-12 row advantages3">
                        <div class="col-md-3 icon_bg">
                            <span class="icon_span">03</span>
                        </div>
                        <div class="col-md-9">
                            <strong>性价比高|High cost performance</strong>
                            <p>公司通过严格的原材把控，并在研发和营销模式上的创新，从而能为客户提供最优性价比的产品。</p>
                        </div>
                    </div>

                    <div class="col-md-12 row advantages4">
                        <div class="col-md-3 icon_bg">
                            <span class="icon_span">04</span>
                        </div>
                        <div class="col-md-9">
                            <strong>质量保障|Quality assurance</strong>
                            <p>公司的产品全部经过国家建筑材料产品质量监督检验测试中心的检测，完全符合国家标准的相关要求。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>


        </div>


        <div class="advantage row" style="margin-top: 50px">
            <div class="col-md-2"></div>
            <div class="col-md-8 row">
                <div class="col-md-6 row advantages3_bg">
                    <div class="col-md-12 row advantages5">
                        <div class="col-md-3 icon_bg">
                            <span class="icon_span">05</span>
                        </div>
                        <div class="col-md-9">
                            <strong>服务网络|Service network</strong>
                            <p>公司通过六大产品材料基地为不同区域客户提供及时的高品质的服务。</p>
                        </div>
                    </div>

                    <div class="col-md-12 row advantages6">
                        <div class="col-md-3 icon_bg">
                            <span class="icon_span">06</span>
                        </div>
                        <div class="col-md-9">
                            <strong>专业服务|The professional services</strong>
                            <p>公司能够为客户提供从前期设计、优质产品和后期服务的综合解决方案，我们不仅为您提供高性价比产品，更为您提供更多专业技术支持。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hidden-md hidden-sm hidden-xs">
                    <img src="__IMA__/1.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-2"></div>


        </div>

        <div class="introduction  row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="page-header animated">

                    <h1>吉通恒远 <small>合作共赢</small></h1>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>



        <include file="Public/common/footer.html"/>